# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
.env
uv.lock

# Tool caches
.mypy_cache/
.ruff_cache/

# External repositories
external/

# Build artifacts
src/worldalphabets.egg-info/
/build/

# Node
node_modules/
